target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/docker_cluster/long/volume/bot/data/
/docker_cluster/webhook/ngrok/volume/bot/data/
/docker_cluster/webhook/ngrok/volume/nginx/data/

/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/shelf
/.idea/modules.xml
/docker_cluster/webhook/ngrok/volume/ngrok/data/
/docker_cluster/webhook/static/volume/bot/data/
/docker_cluster/webhook/static/volume/nginx/data/
/docker_cluster/webhook/static/ssl/

/kube_cluster/tourist_bot/long/volume/bot/data/
/.idea/runConfigurations/
/docker_cluster/long/volume/bot/conf/res.geojson
/docker_cluster/long/volume/bot/conf/tourist_places.geojson
/docker_cluster/webhook/ngrok/volume/bot/conf/tourist_places.geojson
/docker_cluster/webhook/static/volume/bot/conf/tourist_places.geojson
/kube_cluster/tourist_bot/long/volume/bot/conf/tourist_places.geojson
/kube_cluster/tourist_bot/ngrok/volume/bot/conf/tourist_places.geojson
/kube_cluster/tourist_bot/static/volume/bot/conf/tourist_places.geojson
/kube_cluster/tourist_bot/ngrok/volume/bot/data/
/kube_cluster/tourist_bot/ngrok/volume/ngrok/data/
/kube_cluster/tourist_bot/static/volume/bot/data/
/kube_cluster/tourist_bot/static/volume/nginx/data/
/kube_cluster/tourist_bot/static/volume/ssl/
/kube_cluster/commands.txt
/kube_cluster/add_metrics_server_steps.txt
/logs/
/kube_cluster/add_image_steps.txt
